.env
*.pyc
*.pyo
__pycache__
env/
venv/
.venv/
*.log
*.egg
.docker/
docker-compose.override.yml
**/migrations/**/*
!**/migrations/__init__.py
.idea/
.vscode/
build/
node_modules/
*.swp
*.bak
yarn.lock
Thumbs.db
Desktop.ini
.env/