footer {
    background-color: #F2F2F2;
    color: #4A4A4A;
    font-family: 'Nunito', sans-serif;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

h2 {
    color: #4b9cd3;
    font-weight: bold;
}
