.body {
    font-family: 'Nunito', sans-serif;
    color: #4A4A4A;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    color: white;
    background-image: url('icons.svg');
    background-repeat: repeat;
    background-size: contain;
    background-color: #A8D3E6;;
}

.hero-section .resources {
    background-color: #2596be;
    border: none;
    width: 11rem;
    height: 3rem;
    font-size: 1.1rem;
    color: #ccdbbe;

}

.hero-section .resources:hover {
    background-color: #5fa8d7;
}

.hero-section .games {
    background-color: #6cbc44;
    border: none;
    width: 11rem;
    height: 3rem;
    font-size: 1.1rem;
    color: #ccdbbe;

}

.hero-section .games:hover {
    background-color: #7ac366;
}

.row {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
}

.hero-section .video-card {
    height: 25rem;
    width: 25rem;
}

.games-section {
    background-color: #ccdbbe;
    height: 40rem;
}

.game-card {
    display: flex;
    align-items: center;
    min-height: 15rem;
    width: 15rem;
    border: none !important;
    background-color: #F2F2F2 !important;
    color: #4A4A4A;
    font-weight: bolder;
}


.d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
