.hero {
    background-color: #d4e9f3;
    color: #4A4A4A;
    min-height: 100vh;
}

.hero-section {
    background-image: linear-gradient(#A8D3E6, #D4E9F3);
}

.hero-button {
    background-color: #6cbc44;
    color: white;
    border: none;
    width: 11rem;
    height: 3rem;
    font-size: 1.1rem;
    transition-duration: 0.4s;
}

.hero-button:hover {
    filter: brightness(105%);
    scale: 1.05;
    transform: rotate(2deg) scale(1.05);
    
}

.hero-video {
    width: 48rem;
    height: 27rem;
    opacity: 0;
    object-fit: cover;
    overflow: hidden;
}

.demo-video {
  width: 48rem;
  height: 27rem;
  object-fit: cover;
}

.features-section {
    background-color: #d4e9f3;
    color: "#4b9cd3";
}

.features {
  display: grid;
  grid-template-columns: 17.5rem 17.5rem 17.5rem;
  gap: 1.5rem;
  justify-content: center;
}

.testimonials-section {
    background-color: #d4e9f3;
    color: "#4b9cd3";
}

.join-section {
    background-color: #d4e9f3;
}

.slide-up {
    animation: slideUp .8s ease-in-out forwards;
  }

.slide-from-left {
    animation: slidefromleft .8s ease-in-out forwards;
}

@media (max-width: 992px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .features {
    grid-template-columns: 1fr;
  }
}

@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(70px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes slidefromleft{
    from {
      opacity: 0;
      filter: blur(2px);
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
  }