.hero {
    font-family: 'Nunito', sans-serif;
    color: #4A4A4A;
}

.hero-section {
    background-image: linear-gradient(#A8D3E6, #D4E9F3);
}

.hero-button {
    background-color: #6cbc44;
    color: white;
    border: none;
    width: 11rem;
    height: 3rem;
    font-size: 1.1rem;
    transition-duration: 0.4s;

}

.hero-button:hover {
    background-color: #61a93d;
    transform: rotate(2deg) scale(1.05);
    
}

.hero-video {
    width: 48rem;
    height: 27rem;
}

.features-section {
    background-color: #d4e9f3;
    color: "#4b9cd3";
}

.testimonials-section {
    background-color: #d4e9f3;
    color: "#4b9cd3";
}

.hidden {
    opacity: 0;
    transition: 1s;
}

.show {
    opacity: 1;
    transition: 1s;
}