.game-card {
    min-height: 15rem;
    width: 15rem;
    border: none !important;
    color: #4A4A4A;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    transition: transform 0.3s ease;
}

.game-card:hover {
    filter: brightness(95%);
    transform: scale(1.05);
}

.game-card:hover .card-icon {
    animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }