.board-section {
    background-color: #D4E9F3;
    color: #4A4A4A;
    min-height: calc(100vh - 76px);
}

.gradient {
    background-image: linear-gradient(#A8D3E6, #D4E9F3);
}

.board {
    background-color: #d8eaf2;
    width: 80%;
    padding: 2.5rem;
}

.fly-in {
    animation: flyin 0.6s ease-in-out forwards;
}

@keyframes flyin {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}