.Navbar {
    background-color: #F2F2F2;
    font-family: 'Nunito', sans-serif;
    color: #4A4A4A;
    opacity: 95%;
}

.link-style {
    text-decoration: none;
}

.navbar-brand h2 {
    color: #4b9cd3;
    font-weight: bold;
}

.navbar-collapse Button {
    font-size: 1.1rem;
    width: 6rem;
    background-color: #FFCC00;
    color: #4A4A4A;
    border: none;
}

.navbar-collapse Button:hover {
    background-color: #FF8C42;
}