.login-register-container {
    position: relative;
    height: calc(100vh - 76px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#A8D3E6, #D4E9F3);
    font-family: 'Nunito', sans-serif;
    color: #4A4A4A;
}

.wrapper {
    width: 420px;
    height: 450px;
    background-color: #d8eaf2;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height 0.3s ease;
    animation: flyin 0.6s ease-in-out forwards;
    position: relative;
}


.wrapper.active {
    height: 720px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.wrapper .form-box.login {
    transform: translateX(0);
    z-index: 2;
}

.wrapper.active .form-box.login {
    transform: translateX(-100%);
    z-index: 1;
}

.wrapper .form-box.register {
    transform: translateX(100%);
    z-index: 1;
}

.wrapper.active .form-box.register {
    transform: translateX(0);
    z-index: 2;
}

form h1 {
    font-size: 36px;
    text-align: center;
    color: #4A4A4A;
}

form .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #4A4A4A;
    padding: 0 45px 0 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.inputbox input::placeholder {
    color: #4A4A4A;
}

.inputbox svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #4A4A4A;
    pointer-events: none;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    color: #4A4A4A;
}

.remember-forgot label input {
    accent-color: #4A4A4A;
    margin-right: 4px;
}

.remember-forgot a {
    color: #4A4A4A;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    background: #A8D3E6;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 700;
}

form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: #4A4A4A;
}

.register-link p a {
    color: #4A4A4A;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.fly-in {
    animation: flyin 0.6s ease-in-out forwards;
}

@keyframes flyin {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
