.body {
    font-family: 'Nunito', sans-serif;
    color: #4A4A4A;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    color: white;
    background-repeat: repeat;
    background-size: contain;
    background-color: #A8D3E6;
}

.resources {
    background-color: #2596be;
    border: none;
    width: 11rem;
    height: 3rem;
    font-size: 1.1rem;
    color: white;
    transition-duration: 0.4s;

}

.resources:hover {
    background-color: #5fa8d7;
    transform: rotate(2deg) scale(1.05);
    
}

.games {
    background-color: #6cbc44;
    border: none;
    width: 11rem;
    height: 3rem;
    font-size: 1.1rem;
    color: white;
    transition-duration: 0.4s;

}

.games:hover {
    background-color: #7ac366;
    transform: rotate(2deg) scale(1.05);
}

.row {
    display: flex;
    align-items: center;
}

p {
    font-size: 1.1rem;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
}

.hero-section .video-card {
    height: 25rem;
    width: 25rem;
}

.games-section {
    background-color: #ccdbbe;
    min-height: 40rem;
    font-family: 'Nunito', sans-serif;
    color: #4A4A4A;
}

.ending-section {
    background-color: #A8D3E6;
    height: 40rem;
    background-repeat: repeat;
    background-size: contain;
}

.ending-content {
    background-color: #d8eaf2;
    width: 50%;
}